[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/savvas1992
[access "refs/for/refs/*"]
	read = group user/savvas1992
	push = group user/savvas1992
	label-Code-Review = -2..+2 group user/savvas1992
	label-Verified = -1..+1 group user/savvas1992
	rebase = group user/savvas1992
	removeReviewer = group user/savvas1992
	submit = group user/savvas1992
[access "refs/heads/*"]
	read = group user/savvas1992
	create = group user/savvas1992
	push = +force group user/savvas1992
	pushMerge = group user/savvas1992
[access "refs/tags/*"]
	push = +force group user/savvas1992
	pushTag = group user/savvas1992
	pushSignedTag = group user/savvas1992
